body{
    margin: 0;
    padding: 0;
    /* height: 100%; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* banner section */
.banner{
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    width: 100%;
    background-size: cover;
    height: 100vh;
    /* margin-bottom: 150px; */
    
    
}

.container{
    width: 475px;
    height: 280px;
    position: absolute;
    top: 130px;
    left: 870px;
   
}

.banner-title{

    font-weight: 700;
    text-align: right;
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
    margin: 0 50px;
    margin-bottom: 20px;
}

.banner-description{
    
    font-size: 16px;
    text-align: right;
    line-height: 25px;
    color: #FFFFFF;
    margin: 0 50px;
    margin-bottom: 25px;
}

.button-primary{

    font-size: 20px;
    font-weight: 600;
    color:  #005FAC;
    background-color:#FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-left: 300px;

}

/* About section */

.image{
    margin: 0 100px;
}

.about{
    margin: 80px 100px 90px 70px;
}

.about-container{
    display: flex;
}

.about-content{
    margin-top: 190px;
}

.about-title{
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    line-height: 30px;
}

.about-description{
    color: #444343;
    font-size: 16px;
    line-height: 30px;
}

 li{
    list-style-type: none;
    line-height: 20px;
}
.items li{
    line-height: 35px;
}

/* My plans */

.title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.plan-conainer{
    display: flex;
    margin: 80px 250px 50px 250px;
    gap: 80px;
}

.plan-title{
    text-align: center;
}

.plan-description{
    text-align: center;
}

.plan img{
    margin-left:25px;
}

.my-plan{
    margin-bottom: 80px;
}
/* Watch section */
.watch-image{
    margin:100px;
    background-image: linear-gradient(blue,redyellow);
    
}

.watch-content{
    margin-top: -20%;
    margin-left: 80px;
}

.button-primary1{
    padding: 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: #005FAC;
    font-size: 20px;
}

.watch-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
}

.image-container{
   
        position:relative;
}

/* .image-container::after {
     display:contents;
    position: relative; 
    background: linear-gradient(90deg, #005FAC 0%, rgba(93, 143, 184, 0) 100%);
    margin-top: -100px;
    height: 150px;
    width: 100%;
    content: ''; 
  } */

  /* footer section */

  .foter-container{
    display: flex;
    color: white;
    padding: 250px;
    gap: 50px;
    
  }

  footer{
    margin-top: 200px;
    background-color: black;
  }

  .footer-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
  }

  .foter-content img{
    padding: 10px;
  }

  #input-field{
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .button-primary2{
    padding: 15px 25px 15px 25px;
    background-color: #005FAC;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
  }